
html, body{
  background-color: rgb(34, 48, 59);
  scroll-behavior: smooth;
  color: rgb(247, 250, 232);
}

.img-shadow{
  filter: drop-shadow(30px 10px 4px #4444dd);
}

.fade-bottom{
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to bottom, transparent, rgb(34, 48, 59) 100%);
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, transparent 0%,  rgb(34, 48, 59) 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, transparent 0%,  rgb(34, 48, 59) 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, transparent 0%, rgb(34, 48, 59) 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, from( transparent), to( rgb(34, 48, 59)));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, transparent 0%, rgb(34, 48, 59) 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, transparent 0%,  rgb(34, 48, 59) 100%);

}

.star-text{
  position: absolute;
  color: rgb(247, 250, 232);
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.star-scroll{
  display: block;
  position: absolute;
  color: rgb(247, 250, 232);
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

@media (max-width: 991px) {
  .star-scroll{
    bottom:55px;
  }
}


.star-text .hover-letter{
  cursor: default;
  transition: 200ms;
  animation: expand-text 150ms forwards;
}

h1{
  font-weight: bold;
}

.star-text .hover-letter:hover{
  animation: shrink-text 150ms forwards;
}

a{
  cursor: pointer;
}

.contact-me{
  font-weight: bold;
  border-radius: 0;
  color: rgb(247, 250, 232);
  border: 2px solid white;
  
}

.contact-me:hover{
  color: rgba(0,0,0,0.7) !important;
  background-color: rgb(247, 250, 232);
}


.star-scroll a{
  color: rgb(247, 250, 232);
  transition: 200ms;
}

.star-scroll a:hover{
  text-decoration: none;
  transform: scale(1.2);
}




@keyframes shrink-text
    {
      0%   {transform: scale(1,1);}
      100% {transform: scale(1,0.5);}
   }

@keyframes expand-text
   {
     0%   {transform: scale(1,0.5);}
     100% {transform: scale(1,1);}
  }



